openssl_conf = openssl_init

[openssl_init]
providers = provider_sect
ssl_conf = ssl_module

[provider_sect]
default = default_sect
oqsprovider = oqsprovider_sect

[default_sect]
module = /usr/local/ssl/lib64/ossl-modules/oqsprovider.so
activate = 1

[oqsprovider_sect]
module = /usr/local/ssl/lib64/ossl-modules/oqsprovider.so
activate = 1

[ssl_module]
system_default = tls_system_default

[tls_system_default]
Groups = hqc1
